@font-face{
	font-family: 'DinPRO'; 
	src: url('../fonts/DINPro-Bold.woff') format('woff');
	font-style: normal;
	font-display: swap;
	font-weight: 700;
}

@font-face{
	font-family: 'DinPRO'; 
	src: url('../fonts/DINPro-Medium.woff') format('woff');
	font-style: normal;
	font-display: swap;
	font-weight: 500;
}

@font-face{
	font-family: 'DinPRO'; 
	src: url('../fonts/DINPro-Black.woff') format('woff');
	font-style: normal;
	font-display: swap;
	font-weight: 900;
}

@font-face{
	font-family: 'DinPRO'; 
	src: url('../fonts/DINPro.woff') format('woff');
	font-style: normal;
	font-display: swap;
	font-weight: 400;
}