.gray-card{
	padding: 35px 20px;
	border-radius: 10px;
	background: #1d1a23;
	margin-bottom: 35px;

	&:last-child{
		margin-bottom: 0;
	}

	> .card-header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 15px;

		&:last-child{
			margin-bottom: 0;
		}

		@media screen and (max-width: 767px){
			&.sm-column{
				flex-direction: column;

				.item{
					margin-bottom: 15px;
					width: 100%;

					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}
	}

	> .card-filter{
		margin-bottom: 15px;
		display: flex;
		align-items: flex-end;
		padding: 20px 25px 30px;
		border: 1px solid #373242;
		border-radius: 10px;
		
		.item{
			width: 100%;
			max-width: 210px;
			margin-right: 20px;

			&:last-child{
				margin-left: auto;
				margin-right: 0;
				width: auto;
			}
		}

		&:last-child{
			margin-bottom: 0;
		}

		&.tickets-filter{
			@media screen and (max-width: 1199px) and (min-width: 768px){
				flex-wrap: wrap;
				margin-bottom: -20px;

				.item{
					width: calc(50% - 10px);
					max-width: unset;
					margin-bottom: 20px;

					&:nth-child(even){
						margin-right: 0;
					}

					&:last-child{
						width: auto;
						margin-left: auto;
					}
				}
			}
		}
	}

	> .card-search{
		padding: 20px 0;
		margin-bottom: 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.item{
			margin-right: 20px;

			&.flex-auto{
				flex: auto;
			}

			&.max-width-860{
				max-width: 860px;
			}

			&:last-child{
				margin-right: 0;
			}
		}

		&:last-child{
			margin-bottom: 0;
		}
	}

	> .card-content{
		margin-bottom: 15px;

		&:last-child{
			margin-bottom: 0;
		}
	}

	> .card-footer{
		padding: 20px 0;
		margin-bottom: -20px;
	}

	.gray-card-text{
		margin-bottom: 40px;
		max-width: 900px;

		&:last-child{
			margin-bottom: 0;
		}

		p{
			font-weight: 400;
			font-size: 16px;
			line-height: 1.875;
			color: rgba(#fff, .5);
		}
	}

	.card-caption{
		font-size: 24px;
		line-height: 1.25;
		color: #fff;
		font-weight: 500;
		margin-bottom: 1em;

		&:last-child{
			margin-bottom: 0;
		}

		strong{
			color: $primary;
		}

		&.small{
			font-size: 16px;
		}
	}

	> hr{
		margin-top: 55px;
		margin-bottom: 55px;
		background: #2a2631;
		height: 1px;
		border: 0;

		@media screen and (max-width: 757px){
			margin: 30px 0;
		}
	}

	> .card-section{
		margin-bottom: 55px;

		&:last-child{
			margin-bottom: 0 !important;
		}

		&.small-margin{
			margin-bottom: 25px;
		}

		&.no-margin{
			margin-bottom: 0;
		}

		@media screen and (max-width: 757px){
			margin-bottom: 0;

			&.sm-with-margin{
				margin-bottom: 40px;
			}
		}
	}

	@media screen and (max-width: 575px){
		padding: 20px 15px;
	}

	@media screen and (max-width: 767px){
		> .card-search{
			flex-direction: column;

			.item{
				width: 100%;
				margin: 0 0 5px;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}

		> .card-filter{
			flex-direction: column;
			padding: 20px;

			.item{
				width: 100%;
				max-width: unset;
				margin: 0 0 15px;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}

	@media screen and (max-width: 575px){
		> .card-header{
			&.xs-column{
				flex-direction: column;

				.item{
					width: 100%;
					margin-bottom: 15px;

					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}
	}
}